html,
body,
#main,
.sidebar,
.main-content {
	height: 100%;
}

.sidebar,
.main-content {
	padding: 0;
}

/*Header*/

header {
	background: #F6F7EF;
	padding: 5px 15px;
	border-bottom: 10px solid #3A7E41;
}

/*Navigation*/

header .nav.nav-pills {
	padding: 10px 0;
}

header .nav.nav-pills li:nth-child(2) a {
	padding: 10px 0 10px 10px;
}

header .nav.nav-pills li:nth-child(4) a {
	padding: 10px 10px 10px 0px;
}

.nav li a:hover {
	background: none;
	text-decoration: underline;
}

li.divider {
	padding: 10px 5px;
	color: rgba(85, 85, 85, 0.41);
}

header a {
	color: #397f43;
}

/*Date*/

.date {
	text-align: center;
	background: #3A7D40;
	color: #FFFFFF;
}

.date h4 {
	margin: 0;
	padding: 10px 0 0 0;
	font-weight: bold;
}

.date h5 {
	margin: 0;
	padding: 5px 0 10px 0;
}

/*Trending*/

.trending {
	margin: 0 10px;
	padding: 10px;
	border-bottom: 1px solid #EEEEEE;
}

.trending img {
	border-radius: 5px;
	border: 1px solid #3B7F42;
}

.trending .info {
	padding: 10px 0;
}

.trending .title {
	margin: 0;
	font-weight: bold;
}

.trending .location {
	margin: 0;
}