html,
body,
#main,
.sidebar,
.main-content {
	height: 100%;
}

/*Header*/

header {
	background: #F6F7EF;
	padding: 5px 15px;
	border-bottom: 10px solid #3A7E41;
}

/*Navigation*/

header .nav.nav-pills {
	padding: 10px 0;
}

header .nav.nav-pills li:nth-child(2) a {
	padding: 10px 0 10px 10px;
}

header .nav.nav-pills li:nth-child(4) a {
	padding: 10px 10px 10px 0px;
}

.nav li a:hover {
	background: none;
	text-decoration: underline;
}

li.divider {
	padding: 10px 5px;
	color: rgba(85, 85, 85, 0.41);
}