html, body {
	height: 100%;
}

.filters {
	padding: 10px;
}

header {
    	padding: 10px;
    	background: #397F43;
}

header a.btn.btn-default {
	background: #FECF1A;
	border: 0;
	padding: 5px;
	color: #FFFFFF;
	margin: 5px 0;
}